@import "compass/reset";

// fonts
@import "compass/css3/font-face";
@include font-face("Circular", font-files("https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/CircularStd-Bold.woff", "https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/CircularStd-Bold.ttf", "https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/CircularStd-Bold.svg"), "https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/CircularStd-Bold.eot");

// variables and sass stuff
$link-color: #3F4999;
$hover-color: #27333E;
$transition: 0.3s ease all; 
$dark: rgb(25,30,36);
$light: rgb(229,234,238);

$break-med: 1000px;
$break-sm: 750px;


@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin selection($color, $background) {
  ::selection {color: $color;background: $background;}
  ::-moz-selection {color: $color;background: $background;}
}


//  basics
@include selection($light,$dark);

body, html {
  padding:0;
  margin:0;
  width:100%;
  height:100% !important;
  background: #FFF;
}

// div, a, p.button, img, li {@include vendorize(transition, $transition);}
img {
  max-width: 100%;
}

a, i {
  color: $dark;
  text-decoration: none;
  &:hover {
    color:  $dark;
  }
}


// spacing & grid

body {
  background: #FFF;
}

// max-width is 2000px
#wrapper {
  max-width: 2000px;
  margin: 0 auto;
}

// forces heights 
section {
  width: 100%;
  height: 800px;
  padding: 0; 
  // padding: 55vh 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

//  panel paragraphs & nav on left
$copy-left-spacing: 20px;
$text-vert-spacing: 2%;


.panel, nav {
  position: fixed; 
  visibility: hidden; 
  opacity: 0.0; 
  height: 100%; 
  width: 100%;
  max-width: 2000px;
  .container {
    position: absolute;
    width: 100%;
    .copy {
      display: block;
      h1 {
        max-width: 60% !important;
      }
      h1, p {
        max-width: 40%;
        display: block;
        margin: 15px 0 0 $copy-left-spacing;
        &:first-child {
          margin-top: $text-vert-spacing;
        }
        i {
          padding-left: 15px;
        }
        &.nav { // arrow navigation between panels
          margin-top: 0;
          a:first-child i {
            padding-right: 15px;
            padding-left: 0 !important;
          }
          a:nth-child(2) i {
            padding-left: 15px;
          }
        }
        &.nav-only { // add spacing when it's only arrows
          margin-top: $text-vert-spacing;
        }
      }
    }
  }
} 


.header, nav{
  visibility: visible; 
  opacity: 1.0; 
}


// nav pos
nav {
  top: $text-vert-spacing;
  text-align: right;
  height: 50px;
  width: auto;
  right: 0;
  .container { 
    padding-top: 20px;
    width: auto;
    right: 0;
    text-align: center;
    width: 100px; 
  }
  a, i {


  }
  .info-link {
    
  }
}



.info {
  position: fixed;
  margin-top: 100%; 
  padding: 0;
  width: 100%; 
  height: 100%; 
  z-index: 100;
  opacity: 1; 
  visibility: visible; 
  background-color: #fff; 

  .spacer{
    height: 10%; 
  }


  .container {
    position: static; 
    margin: 0 auto;
    @media screen and (max-width: $break-sm) {
      width: 75%;
    }
    h1, p {
      margin: 0 auto 2% auto;
      width: 50%;
    }
    h1 {
      font-size: 1em;
    }
    p {
      font-size: 1.3em;
      line-height: 1.3em;
      font-weight: 400;
    } 
    .footer {
      font-size: 0.7em;
    }
  } 
}




// typography

$bigtext: 3em;

body {
  font-size: 16px;
  color: $dark;
  font-family: 'circular', helvetica, arial, sans-serif;
  font-weight: 400;
}

.header {
  h1 {
    font-size: $bigtext;
    i {
      font-size: .8em;
    }
  }
}

nav {
  a {
    color: $dark;
    text-transform: uppercase;
  }
}

.dark .container .copy p {
  max-width: 70%;
  font-size: $bigtext;
}

.panel p {
  font-size: 2em;
  line-height: 1.2em;
  i {
    font-size: 0.8em;
  }
}

.info {
  text-align: left;
  font-size: .8em;
}

footer {
  font-size: 80%;
}



// BACKGROUNDZ & STACKING

nav {
  z-index: 102;
}

.dark {
  background: $dark;
  color: $light;
  @include selection($dark,$light);
  a, i {
    color: $light;
    background: none;
  }
  p.second {
    margin-top: 15% !important;
  }
}

.light {
  background: $light;
  color: $dark;
}

.m-b {
  @extend .panel; 
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_b.jpg); 
   background-position: 50%;
  @include vendorize(background-size,cover);
}

.marlene {
  @extend .panel; 
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_e.jpg); 
   background-position: 50%;
  @include vendorize(background-size,cover);
}

.a {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_a.jpg); 
  // z-index: 100;
}

.b1 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_b-sketch1.png); 
  // z-index: 99;
}

.b2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_b-sketch2.png); 
  // z-index: 98;
}

.b3 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_b-sketch3.png); 
  // z-index: 97;
}

.b4 {
/*  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_b.jpg); */
  // z-index: 96;
}

.c {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_c.jpg); 
  // z-index: 95;
}

.c2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_c2.jpg); 
  // z-index: 95;
}

.d {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_d.jpg); 
  // z-index: 94;
}

.e1 {
  // z-index: 92;
}

.e2 {
  // z-index: 91;
}

.a, .b1, .b2, .b3, .c, .c2, .d, .e1, .e2, .marlene, .mb{
  background-position: 50%;
  @include vendorize(background-size,cover);
}