/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Circular";
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/CircularStd-Bold.eot);
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/CircularStd-Bold.eot?#iefix) format('embedded-opentype'), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/CircularStd-Bold.woff) format('woff'), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/CircularStd-Bold.ttf) format('truetype'), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/CircularStd-Bold.svg) format('svg');
}
/* line 29, ../sass/screen.scss */
::selection {
  color: #e5eaee;
  background: #191e24;
}

/* line 30, ../sass/screen.scss */
::-moz-selection {
  color: #e5eaee;
  background: #191e24;
}

/* line 36, ../sass/screen.scss */
body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100% !important;
  background: #FFF;
}

/* line 44, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 48, ../sass/screen.scss */
a, i {
  color: #191e24;
  text-decoration: none;
}
/* line 51, ../sass/screen.scss */
a:hover, i:hover {
  color: #191e24;
}

/* line 59, ../sass/screen.scss */
body {
  background: #FFF;
}

/* line 64, ../sass/screen.scss */
#wrapper {
  max-width: 2000px;
  margin: 0 auto;
}

/* line 70, ../sass/screen.scss */
section {
  width: 100%;
  height: 800px;
  padding: 0;
}

/* line 76, ../sass/screen.scss */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 86, ../sass/screen.scss */
.panel, .m-b, .marlene, nav {
  position: fixed;
  visibility: hidden;
  opacity: 0.0;
  height: 102%;
  width: 100%;
  max-width: 2000px;
}
/* line 93, ../sass/screen.scss */
.panel .container, .m-b .container, .marlene .container, nav .container {
  position: absolute;
  width: 100%;
}
/* line 96, ../sass/screen.scss */
.panel .container .copy, .m-b .container .copy, .marlene .container .copy, nav .container .copy {
  display: block;
}
/* line 98, ../sass/screen.scss */
.panel .container .copy h1, .m-b .container .copy h1, .marlene .container .copy h1, nav .container .copy h1 {
  max-width: 60% !important;
}
/* line 101, ../sass/screen.scss */
.panel .container .copy h1, .m-b .container .copy h1, .marlene .container .copy h1, .panel .container .copy p, .m-b .container .copy p, .marlene .container .copy p, nav .container .copy h1, nav .container .copy p {
  max-width: 40%;
  display: block;
  margin-left: 20px;
}
/* line 105, ../sass/screen.scss */
.panel .container .copy h1:first-child, .m-b .container .copy h1:first-child, .marlene .container .copy h1:first-child, .panel .container .copy p:first-child, .m-b .container .copy p:first-child, .marlene .container .copy p:first-child, nav .container .copy h1:first-child, nav .container .copy p:first-child {
  margin-top: 2%;
}

/* line 114, ../sass/screen.scss */
.header, nav {
  visibility: visible;
  opacity: 1.0;
}

/* line 121, ../sass/screen.scss */
nav {
  top: 2%;
  text-align: right;
  height: 50px;
  width: auto;
  right: 0;
}
/* line 127, ../sass/screen.scss */
nav .container {
  /*     padding-top: 20px; */
  width: auto;
  right: 0;
  text-align: center;
  width: 100px;
}
/* line 134, ../sass/screen.scss */
nav a {
  padding-bottom: 22px;
  display: block;
}
/* line 137, ../sass/screen.scss */
nav a i {
  font-size: 1.5em !important;
}

/* line 144, ../sass/screen.scss */
.info {
  position: fixed;
  top: 102%;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  background-color: #fff;
}
/* line 155, ../sass/screen.scss */
.info .spacer {
  height: 10%;
}
/* line 159, ../sass/screen.scss */
.info .container {
  position: static;
  margin: 0 auto;
}
@media screen and (max-width: 760px) {
  /* line 159, ../sass/screen.scss */
  .info .container {
    width: 75%;
  }
}
/* line 165, ../sass/screen.scss */
.info .container h1, .info .container h2, .info .container p {
  margin: 0 auto 2% auto;
  width: 50%;
}
/* line 169, ../sass/screen.scss */
.info .container h1 {
  font-size: 1.5em;
}
/* line 172, ../sass/screen.scss */
.info .container h2 {
  font-size: 1em;
}
/* line 175, ../sass/screen.scss */
.info .container p {
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 400;
}
/* line 180, ../sass/screen.scss */
.info .container .footer {
  font-size: 0.7em;
}
/* line 182, ../sass/screen.scss */
.info .container .footer a {
  text-decoration: none;
}
/* line 184, ../sass/screen.scss */
.info .container .footer a:hover {
  text-decoration: underline;
}
/* line 188, ../sass/screen.scss */
.info .container .footer a img {
  height: 20px;
  vertical-align: middle;
  padding-right: 7px;
  margin-bottom: 1px;
}

/* line 205, ../sass/screen.scss */
body {
  font-size: 16px;
  color: #191e24;
  font-family: 'circular', helvetica, arial, sans-serif;
  font-weight: 400;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5), screen and (max-width: 760px) {
  /* line 205, ../sass/screen.scss */
  body {
    font-size: 12px;
  }
  /* line 215, ../sass/screen.scss */
  body nav {
    font-size: 200%;
    /* 
          width: auto;
          a {
            padding: 35px 22px;
            &:first-child {
              padding-top: 10px;
            }
          }
     */
  }
}

/* line 234, ../sass/screen.scss */
.header h1 {
  font-size: 3em;
}
/* line 236, ../sass/screen.scss */
.header h1 i {
  font-size: .8em;
}

/* line 243, ../sass/screen.scss */
nav a {
  color: #191e24;
  text-transform: uppercase;
}

/* line 249, ../sass/screen.scss */
.dark .container .copy p {
  max-width: 70%;
  font-size: 3em;
}

/* line 254, ../sass/screen.scss */
.panel p, .m-b p, .marlene p {
  font-size: 2em;
  line-height: 1.2em;
}
/* line 257, ../sass/screen.scss */
.panel p i, .m-b p i, .marlene p i {
  font-size: 0.8em;
}

/* line 262, ../sass/screen.scss */
.info {
  text-align: left;
  font-size: .8em;
}

/* line 267, ../sass/screen.scss */
footer {
  font-size: 80%;
}

/* line 274, ../sass/screen.scss */
nav {
  z-index: 102;
}

/* line 278, ../sass/screen.scss */
.dark {
  background: #191e24;
  color: #e5eaee;
}
/* line 29, ../sass/screen.scss */
.dark ::selection {
  color: #191e24;
  background: #e5eaee;
}
/* line 30, ../sass/screen.scss */
.dark ::-moz-selection {
  color: #191e24;
  background: #e5eaee;
}
/* line 283, ../sass/screen.scss */
.dark a, .dark i {
  color: #e5eaee;
  background: none;
}
/* line 287, ../sass/screen.scss */
.dark p.second {
  margin-top: 15% !important;
  opacity: 0;
}

/* line 293, ../sass/screen.scss */
.light {
  background: #e5eaee;
  color: #191e24;
}

/* line 298, ../sass/screen.scss */
.m-b {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_b.jpg);
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 305, ../sass/screen.scss */
.marlene {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_e.jpg);
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 312, ../sass/screen.scss */
.a {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_a.jpg);
}

/* line 316, ../sass/screen.scss */
.b1 {
  background: url(../img/mb_b-sketch1.png);
}

/* line 321, ../sass/screen.scss */
.b2 {
  background: url(../img/mb_b-sketch2.png);
}

/* line 326, ../sass/screen.scss */
.b3 {
  background: url(../img/mb_b-sketch3b.png);
}

/* line 331, ../sass/screen.scss */
.b4 {
  /*  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_b.jpg); */
}

/* line 336, ../sass/screen.scss */
.c {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_c.jpg);
}

/* line 340, ../sass/screen.scss */
.c2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_c2.jpg);
}

/* line 344, ../sass/screen.scss */
.d {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/mb_d.jpg);
}

/* line 348, ../sass/screen.scss */
.a, .b1, .b2, .b3, .c, .c2, .d, .e1, .e2, .marlene, .mb {
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 355, ../sass/screen.scss */
.scroll-container {
  position: absolute;
  height: 80%;
  overflow: hidden;
  margin-top: 5%;
  width: 100%;
}

/* line 364, ../sass/screen.scss */
.ps-container .ps-scrollbar-y-rail {
  position: absolute;
  right: 25%;
  width: 8px;
  background-color: rgba(25, 30, 36, 0.1);
  margin-right: -20px;
}
/* line 371, ../sass/screen.scss */
.ps-container .ps-scrollbar-y {
  position: absolute;
  width: 8px;
  background-color: #191e24;
}
